html[data-bs-theme="dark"] .navbar {
    background: transparent;
    border-bottom: 1px solid #1d232f;
}

html[data-bs-theme="dark"] .nav-link,
html[data-bs-theme="dark"] .theme-buttton {
    color: #9ca3b0 !important;
}

html[data-bs-theme="dark"] .nav-link:hover,
html[data-bs-theme="dark"] .theme-buttton:hover {
    color: #e5e9f0 !important;
}

html[data-bs-theme="dark"] .hero {
    background: #06090e;
}

html[data-bs-theme="dark"] .hero h1 {
    color: #fff;
}

html[data-bs-theme="dark"] .hero h4 {
    color: #a2a9b8;
}

html[data-bs-theme="dark"] .propular-lang {
    background: #06090e;
}

html[data-bs-theme="dark"] .heading-text h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.75px;
    margin-bottom: 12px;
}

html[data-bs-theme="dark"] .heading-text p {
    color: #a2a9b8;
}

.propular-lang .search-box {
    background: #00000080;
    color: #fff;
    border: 1px solid #535353;
}

/* =================================
===========================================
======================================================== */
html[data-bs-theme="dark"] .about {
    background: #06090e;
}

html[data-bs-theme="dark"] .heading-badge {
    border: 1px solid #9a4dff4d;
    color: #9a4dff;
    background: transparent;
}

html[data-bs-theme="dark"] .heading-badge.carr {
    border: 1px solid #ff00004d;
    color: #ff0000;
    background: transparent;
}

html[data-bs-theme="dark"] .heading-text h4 {
    color: #e5e9f0;
}

html[data-bs-theme="dark"] .heading-text p {
    color: #9ca3b0;
}

html[data-bs-theme="dark"] .about-item {
    background: linear-gradient(130.55deg, #101319 0%, #131720 100%);
    border: 1px solid #1d232f80;
    box-shadow: 0px 1px 2px 0px #0000000d;
}

html[data-bs-theme="dark"] .about-item:hover {
    background: linear-gradient(130.55deg, #101319 0%, #131720 100%);
    border: 1px solid #9a4dff4d;
    box-shadow: 0px 10px 40px -10px #9a4dff33;
}

html[data-bs-theme="dark"] .about-item .item-heading .text {
    background: #171c26;
    color: #e5e9f0;
}

html[data-bs-theme="dark"] .about-item h4 {
    color: #e5e9f0;
}

html[data-bs-theme="dark"] .about-item p {
    color: #9ca3b0;
}

html[data-bs-theme="dark"] .button-primary3 {
    background: #9a4dff1a;
    border: 1px solid #9a4dff33;
    color: #9a4dff;
}

html[data-bs-theme="dark"] .careers {
    background: #06090e;
}

html[data-bs-theme="dark"] .careers-item {
    background: linear-gradient(130.55deg, #101319 0%, #131720 100%);
    border: 1px solid #1d232f80;
    box-shadow: 0px 1px 2px 0px #0000000d;
}

html[data-bs-theme="dark"] .careers-item:hover {
    background: linear-gradient(130.55deg, #101319 0%, #131720 100%);
    border: 1px solid #9a4dff4d;
    box-shadow: 0px 10px 40px -10px #9a4dff33;
}

html[data-bs-theme="dark"] .careers-item h4 {
    color: #e5e9f0;
}

html[data-bs-theme="dark"] .careers-item p {
    color: #9ca3b0;
}

html[data-bs-theme="dark"] .job-item {
    background: linear-gradient(130.55deg, #101319 0%, #131720 100%);
    border: 1px solid #1d232f80;
    box-shadow: 0px 1px 2px 0px #0000000d;
}

html[data-bs-theme="dark"] .job-item:hover {
    background: linear-gradient(130.55deg, #101319 0%, #131720 100%);
    border: 1px solid #9a4dff4d;
    box-shadow: 0px 10px 40px -10px #9a4dff33;
}

html[data-bs-theme="dark"] .job-heading-1 h4 {
    color: #e5e9f0;
}

html[data-bs-theme="dark"] .job-heading-2 .badge-1,
html[data-bs-theme="dark"] .job-heading-2 .badge-2 {
    background: #171c26;
    color: #e5e9f0;
}

html[data-bs-theme="dark"] .job-heading-2 .badge-2 {
    background: transparent;
}

html[data-bs-theme="dark"] .job-item p {
    color: #9ca3b0;
}

html[data-bs-theme="dark"] .job-heading-3 .badge-3 {
    background: #9a4dff1a;
    color: #9a4dff;
}

html[data-bs-theme="dark"] .job-heading-3 .badge-3 {
    background: #9a4dff1a;
    color: #9a4dff;
}

html[data-bs-theme="dark"] .footer {
    background: #06090e;
    border-top: 1px solid #1d232f;
}

html[data-bs-theme="dark"] .footer-left p {
    color: #9ca3b0;
}

html[data-bs-theme="dark"] .footer-left a img {
    filter: brightness(0) invert(1);
}

html[data-bs-theme="dark"] .footer-middle h4 {
    color: #e5e9f0;
}

html[data-bs-theme="dark"] .footer-middle ul li a {
    color: #9ca3b0;
}

html[data-bs-theme="dark"] .footer-middle ul li a:hover {
    color: #fff;
}

html[data-bs-theme="dark"] .footer-right h4 {
    color: #e5e9f0;
}

html[data-bs-theme="dark"] .footer-right ul li {
    color: #9ca3b0;
}

html[data-bs-theme="dark"] .copyright {
    color: #9ca3b0;
    border-top: 1px solid #1d232f;
}

html[data-bs-theme="dark"] .copyright h4 {
    color: #9ca3b0;
}

html[data-bs-theme="dark"] .copyright a {
    color: #9ca3b0;
}
